# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Sensitive files
*.pem
*.key
*.crt
*.env

# Editor/OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Python virtualenv
venv/
__pycache__/

# Node modules (if any)
node_modules/
